.infobar {
    color: var(--icons);
    border-bottom: 1px solid var(--icons);
}

.infobar p {
    margin: 1px 0;
}

.infobar a,
.infobar a:link,
.infobar a:visited {
    color: var(--icons);
    transition: color 0.5s;
    text-decoration: none;
}

.infobar a:hover {
    color: var(--icons-hover);
}

.infobar i {
    margin-left: 0.5em;
}

.infobar p > i:first-child {
    margin-left: 0;
}

.elsewhere p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1em;
}

.elsewhere a,
.elsewhere a:link,
.elsewhere a:visited {
    color: var(--fg);
    transition: color 0.5s;
    text-decoration: none;
}

.elsewhere a:hover {
    color: var(--links);
}

.content h1 {
    margin-bottom: 0.25em;
}

.content p {
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
}

.content blockquote p {
    text-align: left;
}

.content blockquote i.fa {
    margin-left: 0.5em;
}

.content blockquote i.fa:first-child {
    margin-left: 0;
}

.content a:target {
    scroll-margin-top: var(--menu-bar-height);
}

.katex {
    white-space: nowrap;
}
