.content p {
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
}

.content blockquote p {
    text-align: left;
}

.content a:target {
    scroll-margin-top: var(--menu-bar-height);
}

.katex {
    white-space: nowrap;
}

