html {
    scroll-behavior: smooth;
}

#mdbook-menu-bar {
    a.sponsor:hover .fa-svg {
        color: #db61a2;
    }

    a.feed-link i.fa {
        min-width: 16px;
        text-align: right;
    }
}

.fa-lobsters {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    background: currentColor;
    mask-image: url(../icons/lobsters.svg);
}

.content .infobar {
    color: var(--icons);
    border-bottom: 1px solid var(--icons);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    a, a:link, a:visited {
        background-color: transparent;
        color: var(--icons);
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
            color: var(--icons-hover);
            transition: color 0.15s;
        }

        &.next {
            margin-left: auto;
        }
    }
}

.content main {
    :not(pre) > .hljs {
        background-color: transparent;
        color: var(--fg);
        padding: 0;
        white-space: nowrap;
    }

    a:link, a:link .hljs,
    a:visited, a:visited .hljs {
        color: var(--fg);
        text-decoration: dotted underline;
        transition: background-color 0.5s;
    }

    details summary {
        cursor: pointer;
        transition: background-color 0.5s;
    }

    a:hover,
    details summary:hover {
        background-color: var(--theme-hover);
        transition: background-color 0.15s;
    }
}

.content .linkbar {
    p {
        display: flex;
        flex-wrap: wrap;
        margin: -8px 0;
    }

    &:last-child p {
        border-bottom: 1px solid var(--icons);
    }

    a, a:link, a:visited {
        flex: 1;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        padding: 12px;
    }
}

.content {
    h1 {
        margin-bottom: 0.25em;
    }
    h2, h3 {
        margin-top: 1.5em;
    }
    h4, h5 {
        margin-top: 1em;
    }

    p {
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        word-wrap: break-word;
    }

    blockquote {
        p {
            text-align: left;
        }
        i.fa {
            margin-left: 0.5em;
        }
        i.fa:first-child {
            margin-left: 0;
        }
    }

    a:target, .footnote-definition:target {
        scroll-margin-top: var(--menu-bar-height);
    }

    sup {
        line-height: 0;
    }

    hr {
        border: 1px solid var(--icons);
    }

    /* Use a fleuron for top-level <hr>s */
    main > hr {
        border: none;
        color: var(--fg);
        font-size: x-large;
        text-align: center;

        &:after {
            content: "â§";
        }
    }

    .content ins {
        text-decoration: none;
        background: var(--quote-bg);
    }

    /* Filenames attached to code blocks. */
    h4:has(+ pre) {
        padding: 0 1rem;
        margin-bottom: 0;
        line-height: 2;
        background-color: var(--quote-bg);
    }

    h4 + pre {
        margin-top: 0;
    }
}

nav.nav-wrapper,
.sidebar-visible nav.nav-wrapper,
nav.nav-wide-wrapper {
    display: none;
}

.katex {
    white-space: nowrap;
}

figure {
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
    text-align: center;

    .fig-scale {
        max-width: 100%;
    }
}

.tabs {
    display: flex; /* To get rid of whitespace between tab labels */
    flex-wrap: wrap;
    margin: 20px 0;
    background-color: var(--quote-bg);
    border-top: .1em solid var(--quote-border);

    & > input[type="radio"] {
        display: none;
    }

    & > label {
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
            background-color: var(--theme-hover);
            transition: background-color 0.15s;
        }
    }

    & > input[type="radio"]:checked + label {
        background-color: var(--table-header-bg);
    }

    & > .tab {
        display: none;
        flex-basis: 100%;
        overflow-x: auto;
    }

    & > input[type="radio"]:checked:nth-of-type(1) ~ div:nth-of-type(1),
    & > input[type="radio"]:checked:nth-of-type(2) ~ div:nth-of-type(2),
    & > input[type="radio"]:checked:nth-of-type(3) ~ div:nth-of-type(3),
    & > input[type="radio"]:checked:nth-of-type(4) ~ div:nth-of-type(4) {
        display: block;
    }

    .tab pre {
        margin: 0;
    }
}
